<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-primary navbar-dark">
        <div class="container-fluid">
            <h3>
            <a class="navbar-brand" href="{{url_for('home_function')}}">HOME</a> 
                <a class="navbar-brand" href="{{url_for('upload_function')}}">UPLOAD</a>
                <a class="navbar-brand" href="{{url_for('update_function')}}">UPDATE</a>
            </h3>
        </div>
    </nav>
   
    <div class="p-3"> 

        <h2>UTA ID last 5 Digits: 55622</h2>
        <h2>Avadhut Vijay Talbar</h2>

        <h4>Update Information</h4>
        <form action="/update" method="post">

            Enter Inforamation below to Update based on name
            <br> <br>
            Name <input type="text" name="update_name"> <br>
            State <input type="text" name="update_state"> <br>
            Salary <input type="text" name="update_sal"> <br>
            Grade <input type="text" name="update_grade"> <br>
            Room <input type="text" name="update_room"> <br>
            Telnum <input type="text" name="update_telnum"> <br>
            Keywords <input type="text" name="update_keyw"> <br>

            <button type="submit"> Update Information </button>
        </form>
        <br> <br>

    </div>

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>